 
  <footer class="ui main text centered grid container">
         <h4 class="ui horizontal inverted divider">Powered by</h4>
          <div class="ui tiny rounded images">
              
              <img class="ui image" src="/images/nodejs.png"> 
              <img class="ui image" src="/images/express.png"> 
              <img class="ui image" src="/images/mongoDB.png"> 
              <img class="ui image" src="/images/semantic.png"> 
              <img class="ui image" src="/images/Heroku.png">
            </div>
            
              <div class="ui image ">
                 <p> Project build by <a href="https://in.linkedin.com/in/itsksaurabh" >Kumar Saurabh</a> 2017 </p> 
                  <a href="https://github.com/itsksaurabh/RESTfulBlogApp" class="ui centered rounded tiny image">
                      <img src="/images/fork.jpg">
                </a>
            </div>
     </footer>

 
 </body>
</html>